<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="../../vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../vendor/bootstrap/bootstrap.min.css">
    <!-- Shared CSS -->
    <link rel="stylesheet" href="../../shared/main.css">
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="navbar-responsive.css">
</head>

<body>


    <script src="../../vendor/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="navbar.js"></script>
</body>

</html>